{%extends "userlayout.html"%} 
<!-- inherited all nav features -->
{%block content%}

                <div class="center">
                    <h3 class="centers"><u>Book your Parking lot</u></h3>
                </div>

                <!-- Display error messages -->
                 {%if error_msg%}
                    <div class="alert alert-danger" role="alert">
                        {{error_msg}}
                    </div>

                  {%endif%}
                  
                <form action="/book_lot/{{name}}/{{spot_id}}/{{lot_id}}" method="POST">
                <div class="input-form4">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email : </label>
                        <input type="email" class="form-control" id="email" name="email" value="{{name}}" readonly> 
                    </div>
                    <div class="mb-3">
                        <label for="lot" class="form-label">    Parking Lot ID : </label>
                        <input type="number" class="form-control" id="lot_id" name="lot_id" value="{{lot_id}}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="spot" class="form-label">    Parking Spot ID : </label>
                        <input type="number" class="form-control" id="spot_id" name="spot_id" value="{{spot_id}}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="available_spots" class="form-label">    Number of Available Spots in this Parking lot: </label>
                        <input type="number" class="form-control" id="avail" name="avail" value="{{l.available}}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Location : </label>
                        <input type="type" class="form-control" id="address" name="address" value="{{lot.address}}" readonly> 
                    </div>
                    <div class="mb-3">
                        <label for="cost" class="form-label">Price per hour : </label>
                        <input type="number" class="form-control" id="cost" name="cost" value="{{lot.price}}" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="Vehicle Number" class="form-label">Vehicle Number : </label>
                        <input type="text" class="form-control" id="vehicle_no" name="vehicle_no" placeholder="KL 2605" required>
                    </div>
                    <div class="mb-3">
                        <label for="Parking timestamp" class="form-label">Parking time : </label>
                        <input type="datetime-local" class="form-control" id="p_time" name="p_time" placeholder="" required>
                    </div>
                    <div class="mb-3">
                        <label for="Leaving timestamp" class="form-label">Leaving time : </label>
                        <input type="datetime-local" class="form-control" id="l_time" name="l_time" placeholder="" required>
                    </div>
                    <div class="mb-3">
                        <label for="cost" class="form-label">Price per hour : </label>
                        <input type="number" class="form-control" id="cost" name="cost" value="{{lot.price}}" readonly>
                    </div>
                    
                    <div>
                        <button type="submit" class="btn btn-success">Reserve</button>
                   
                        <a href="/user/{{name}}" type="button" class="btn btn-danger">Cancel</a>
                    </div>    

                </div>
                </form>
{%endblock%}