{%extends "userlayout.html"%} 
<!-- inherited all nav features -->
{%block content%}

<!-- <script>
    function calculateTotalPrice(priceperhour,)
</script> -->

                <div class="center">
                    <h3 class="centers"><u>Book your Parking lot </u></h3>
                    <h4 class="centers" style="font-size: large;">Price per hour : Rs.{{lot.price}}</h4>

                </div>

                <!-- Display error messages -->
                {%if error_msg%}
                <div class="alert alert-danger" role="alert">
                    {{error_msg}}
                </div>

                {%endif%}
                  
                <form action="/book_lot/{{name}}/{{lot_id}}/{{spot_id}}" method="POST">
                <div class="input-form4">
                    <div class="mb-3">
                        <label for="email" class="form-label">Your Email : </label>
                        <input type="email" class="form-control" id="email" name="email" value="{{name}}" readonly> 
                    </div>
                    <div class="mb-3">
                        <label for="lot" class="form-label">    Parking Lot ID : </label>
                        <input type="number" class="form-control" id="lot_id" name="lot_id" value="{{lot_id}}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="spot" class="form-label">    Parking Spot ID : </label>
                        <input type="number" class="form-control" id="spot_id" name="spot_id" value="{{spot_id}}" readonly>
                    </div>
                    
                    <div class="mb-3">
                        <label for="Vehicle Number" class="form-label">Vehicle Number : </label>
                        <input type="text" class="form-control" id="vehicle_no" name="vehicle_no" placeholder="KL 2605" required>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-success">Reserve</button>
                   
                        <a href="/user/{{name}}" type="button" class="btn btn-danger">Cancel</a>
                    </div>    

                </div>
                </form>
{%endblock%}