{%extends "adminlayout.html"%} 
<!-- inherited all nav features -->
{%block content%}
            {%if spot%}
                <div class="center">
                    <h3><u>Edit Parking Spot</u></h3>
                </div>

                <form action="/edit_spot/{{lid}}/{{spot.id}}/{{name}}" method="POST">
                <div class="input-form">
                    <div class="mb-3">
                        <label for="lot_id" class="form-label">Parking Lot ID</label>
                        <input type="number" class="form-control" id="lotid" name="lot_id" value="{{lid}}" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="status" class="form-label">Status </label>
                        <input type="text" class="form-control" id="status" name="status" value="{{spot.status}}">
                    </div>
                                        
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success">Update</button>
                        
                        <a href="/delete_spot/{{lid}}/{{spot.id}}/{{name}}" type="button" class="btn btn-danger">Delete</a>

                        <a href="/admin/{{name}}" type="button" class="btn btn-primary">Cancel</a>

                    </div>                    
                </div>
                </form>

            {%endif%}
{%endblock%}