<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>Home Page</title>
    </head>
    <body>
        <div class="my_container">
            <h3 class="center">Welcome to My Parking App</h3>
            <div class="input-form">
                Hi, Welcome to Parking Made Easy App. We are always at your service.
                <div class="center"><a href="/login" type="button" class="btn btn-primary">Login</a></div>
            </div>
        </div>
        
    </body>
</html>