{%extends "adminlayout.html"%} 
<!-- inherited all nav features -->
{%block content%}
    
            <div class="centers">
                Parking Lots   {{msg}}
            </div>

            <div class="container">
                
                <div class="row">
                    
                    <div class="col">
                    <!--Card 1 here--><div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Summary</h5>

                            <h6 class="card-subtitle mb-2 text-muted">Parking Lot vs Number of Parking spots in it</h6>

                            <img src="./static/images/p_lots_summary.jpeg" width="200"  height="200">
                      
                        </div>
                    </div>
                
                    <!--End of Card 1-->
                    </div>
                    <br>            
                
            </div>
        </div>    
            
{%endblock%}       