{%extends "userlayout.html"%}
<!-- inherited all nav features -->
{%block content%}

        <div class="centers">
                Parking Lots
        </div>
        <table border="2" class="cont">
            <tr>
                <th>ID</th>
                <th>Location</th>
                <th>Price per hour</th>
                <th>Availability</th>
                <th>Action</th>
            </tr>

        {%for stat in lot_stats%}
            <tr>
                <td>{{stat.lot.id}}</td>
                <td>{{stat.lot.address}}</td>
                <td>Rs.{{stat.lot.price}}</td>
                <td>{{stat.avail}}/{{stat.total}}</td>
                <td>
                    {%if stat.avail>0%}
                        <a href="/book_spot/{{stat.lot.id}}">Book</a>
                    {%else%}
                        <span>Full</span>
                    {%endif%}
                </td>
            </tr>
        {%endfor%}
        </table>
        

{%endblock%}     