{%extends "userlayout.html"%}
<!-- inherited all nav features -->
{%block content%}

        <div class="centers">
                Parking Lots
        </div>
    {%if lots%}
        {%for lot in lots%}
        
        {%if lot.parking_spot%}

        <div class="outer_box">
            
            <div class="centers"> Parking lot {{lot.id}}</div>
            
            <div class="container">  
            <div class="row">
                {%for spot in lot.parking_spot%}
                <div class="col">
                    {%if spot.status=="Available"%}              
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{lot.address}}</h5>
                            <h5 class="card-title">Parking Spot ID: {{spot.id}}</h5>
                            
                            <h6 class="card-subtitle mb-2 text-muted">{{spot.status}}</h6>
                            <a href="/book_lot/{{name}}/{{spot.id}}/{{lot.id}}" type="button" class="btn btn-outline-primary">Book</a>
                                                        
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                                   
                        </div>
                    </div>
                    {%endif%}
                   
                </div>
            {%endfor%}
                
            </div>
            </div>
             
            </div>
          {%endif%}
        {%endfor%}

    {%else%}
            <h3 class="centers">Sorry, no Parking lots are available!</h3>
    {%endif%}
{%endblock%}
