{%extends "userlayout.html"%}
<!-- inherited all nav features -->
{%block content%}

            <div class="centers">
                Recent Parking History
            </div>

        <!--Venue 1 starts here-->
        <div class="outer_box">
            <div class="container">
            <div class="row">
                <div class="col">
                    <!--Lot 1 card here-->
                        
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Parking Lot#1</h5>
                            

                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <button type="button" class="btn btn-outline-primary">Book</button>
                            
                            
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                   
                        </div>
                    </div>
                    <!--End of Lot 1 card-->
                </div>
                <div class="col">
                    <!-- Lot 2 Card here-->
                        
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Parking Lot#2</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            
                            <button type="button" class="btn btn-outline-primary">Book</button>
                            
                            
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <!--End of Lot 2 Card-->
                </div>
            </div>
            </div>
                <div class="center"><button type="button" class="btn btn-primary btn-lg"> + Add lot </button></div>
            </div>
{%endblock%}